@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 20px;
    margin-top: 25px;
}
@media (min-width: 600px) {
    body {
        margin: 32px auto 0;
        width: 610px;
    }
}
